/* HERO SECTION */
.index-main {
  position: relative;
  text-align: center;
  color: white;
  height: 69vh;
  overflow: hidden;
  --bg-image: url("../images/gasstation1.jpg");
}

.index-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  animation: zoomEffect 20s ease-in-out infinite;
  transition: background-image 1s ease-in-out;
  filter: brightness(0.8);
}

.index-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  z-index: 1;
  pointer-events: none;
}

.main-intro,
.index-main-link {
  position: absolute;
  z-index: 2;
}

.main-intro {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}

.main-intro h1 {
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-size: 18rem;
  color: rgba(6, 71, 137, 0.95);
  margin: 0;
  white-space: nowrap;
}

.index-main-link {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  z-index: 3;
}

.index-main-link h2 {
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-size: 6rem;
  color: var(--site-color-02);
  margin: 0;
  white-space: normal;
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 2s ease-out, opacity 2s ease-out;
  max-width: 90%;
  line-height: 1.2;
  word-wrap: break-word;
  text-align: left;
  padding-left: 20px;
  display: inline-block;
}

.index-main-link h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.index-main-link h2.animate-text {
  animation: slideUp 2s ease-out forwards;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* WE-ARE SECTION */
.we-are {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url("../images/black.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.we-are-content h2 {
  font-size: 2.5em;
  margin-right: auto;
}

.we-are-content h1 {
  font-size: 3.5em;
  margin-left: auto;
}

/* SERVICE SECTION */
.service-partner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url("../images/gasstation1.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  color: white;
}

.service-content {
  text-align: right;
  max-width: 500px;
}

.service-content h1 {
  font-size: 3em;
  margin-bottom: 15px;
}

.service-content p {
  font-size: 1.2em;
}

/* ABOUT */
.index-about {
  width: 100%;
  padding: 60px 0;
  background-color: #1a253a;
}

.index-about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.index-about-image img {
  width: 350px;
  height: 300px;
  border-radius: 300px;
}

.index-about-text {
  flex-basis: 455px;
}

.index-about-text p {
  padding: 20px 0;
}

.index-about-text a {
  font-size: 1.8rem;
  display: block;
  height: 36px;
  line-height: 36px;
  background-color: var(--site-color-01);
  padding: 0 10px;
  width: fit-content;
}

.index-about-text a:hover {
  background-color: var(--site-color-01-hover);
}

.index-about-skill {
  flex-basis: 350px;
}

.index-about-skill-bar {
  width: calc(100%-8px);
  height: 20px;
  border: 4px solid #0b0f16;
}

.index-about-skill-bar-fill {
  height: 100%;
  background-color: var(--site-color-01);
}

.SKILL1 {
  width: 80%;
}

.SKILL2 {
  width: 75%;
}

.SKILL3 {
  width: 85%;
}

.SKILL4 {
  width: 70%;
}

.SKILL5 {
  width: 65%;
}

.SKILL6 {
  width: 95%;
}
